<template>
    <div class="header">
        <h1>Header</h1>
        <slot name="header"></slot>
    </div>
    <div class="body">
        <h1>Title</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa modi dolor esse pariatur, numquam assumenda temporibus!</p>
        <slot></slot>
    </div>
    <div class="footer">
        <slot name="footer"></slot>
    </div>
</template>