<script setup>
  import BreakingBadSuspenseCard from './components/BreakingBadSuspenseCard.vue'
  import RickMortyCards from './components/RickMortyCards.vue'
  import Hero from './components/Hero.vue'
  import {ref} from "vue"

  const isBreakingBad = ref(true)
</script>

<template>
   <main>
   <Hero 
      :isBreakingBad="isBreakingBad"
      @selectShow="isBreakingBad = !isBreakingBad"
    />
    <KeepAlive>
      <Component :is="isBreakingBad ? BreakingBadSuspenseCard : RickMortyCards"/>
    </KeepAlive>
  </main>
</template>
